.select {
    font-size: 1rem;
    font-weight: 500;
    width: 180px;
    height: 24px;
    border: 1px solid #C2C2C2;
    padding: 0 10px;
}

.select:focus {
    color: #A9A9A9;
}


.option:hover {
    background-color: #7b6c6c;
}
