.container {
}

.wrapper {
    display: flex;
    gap: 15px;
}

.number {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 20px;
    color: #000000;
    margin-right: 10px;
    margin-left: 10px;
}
